* {
    margin: 0;
    padding: 0;
    font-family: khmer MN;
    font-weight: 100;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}


/*------------FORSIDE-------------*/

.forside {
    margin-top: 25vh;
}

.forside h1 {
    font-size: 2.6em;
    text-align: center;
    color: white;

}

.forside p {
    text-align: center;
    color: white;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.splash_video_desktop {
    width: 100vw;
    position: relative;
    display: none;
}

.splash_video_desktop video {
    width: 100%;
}

.splash_video {
    position: relative;
    width: 100vw;
}

.splash_video video {
    width: 100%;
}

.forside {
    position: absolute;
    z-index: 2;
    top: 0;

}


/*------------BURGER MENU-------------*/


.facebook {
    width: 35px;
    margin-top: 5px;

}

.instagram {
    width: 35px;
    margin-top: 5px;


}


#navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
}

.burger_class {
    margin: 10px;
    margin-top: 15px;
    margin-right: 15px;
    padding: 0px 5px;
    z-index: 15;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    width: 30px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
    width: 30px;
}

.nav_class {
    padding-top: 50px;
    margin-left: -100vw;
    height: 100vh;
    display: block;
    transition: 0.8s all 0s;
    background-color: rgba(0, 0, 0, 0.88);
    width: 100vw;
    text-align: center;
}

.nav_class a {}

.openNav {
    display: block;
    margin-left: 0px;
    transition: 0.8s all 0s;
    padding-left: 11px;
}

nav a {
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.88);
    border: 0;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 25px;
}

.nav_class_desktop {
    display: none;
}




/*------- PROJEKTER -------*/

#projekter {
    font-size: 0;
}

.projekt {
    width: 100%;
    font-size: 12px;
    position: relative;
    margin-top: -2.2vh;
}

.galleri_desktop {
    display: none;
}

.projekt img {
    width: 100%;
}

.projekt h2 {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.3em;
}

.projekt .singleview_text img {
    margin-top: 7vh;
    padding-left: 6vw;
    width: 70%;
}



/*------------INFO-------------*/

.info_splash_desktop {
    display: none;
}

.info_headline {
    margin-left: 10vw;
    margin-top: 2vh;
}

#about h1 {
    font-size: 2em;
}

#about hr {
    color: #e5e5e5;
    height: 0.3vh;
    background-color: #e5e5e5;
    border: none;
}

.info_contact {
    margin-left: 10vw;
}

.info_text {
    margin-left: 10vw;
}

.info_text_video {
    margin-right: 10vw;
    margin-bottom: 5vh;
}

.info_video {
    margin-top: 2vh;
    width: 100vw;
    margin-bottom: 0;
}



/*-----------singleView------------*/

.singleview_splash_desktop {
    display: none;
}

#luk {
    box-sizing: border-box;
    text-align: right;
    position: absolute;
}

#luk button {
    font-size: 3em;
    border: none;
    color: white;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin-left: 3vw;
    margin-top: 1vh;
}

#indhold .projekt {
    margin-bottom: 8vh;
    width: 100vw;
}

#indhold .projekt h1 {
    margin: 7vw 10vw 7vw 10vw;
    font-size: 2em;
}

#indhold .projekt p {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.2em;
}

#indhold .projekt .singleview_facts {
    margin-top: 7vh;
}



/*------------FOOTER-------------*/

footer {
    margin-top: 0;
    background-color: #e5e5e5;
    margin-top: -2vh;
}

.footer_name {
    margin-left: 10vw;
    padding-top: 7vh;
}

.footer_name h1 {
    font-size: 2em;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.phone {
    text-align: right;
}

.address_some {
    display: flex;
    /*    justify-content: space-between;*/
    margin: 6vh 10vw 0 10vw;
    align-items: flex-end;
    padding-bottom: 7vh;
}

.address {
    flex-grow: 2;
}


.some {
    text-align: right;
    flex-grow: 1;
}

.some img {
    width: 10vw;
}

.footer_desktop {
    display: none;
    justify-content: space-between;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.some_desktop p {
    margin-right: 1vw;
    /*    padding-top: 0.75vh;*/

}

.footer_facebook_desktop {
    display: flex;
    align-items: center;
}

.footer_facebook_desktop img {
    width: 28px;

}

.footer_instagram_desktop {
    display: flex;
    align-items: center;
}

.footer_instagram_desktop img {
    width: 28px;

}





/*-----------MEDIA QUERIES iPAD------------*/

@media screen and (min-width: 728px) {

    #navigation {
        justify-content: space-between;
    }

    .burger_class {
        display: none;
    }

    .nav_class {
        display: none;
    }

    .openNav {
        display: none;
    }

    .nav_class_desktop {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        margin-top: 2vw;
    }

    .nav_class_desktop a {
        color: white;
        margin-left: 5vw;


    }

    .nav_class_desktop .nav_some a {
        margin-left: 1vw;
    }

    .nav_pages a {
        font-size: 1.2em;
    }

    .nav_pages {
        margin-top: 2vh;
    }

    nav a {
        background-color: transparent;
        align-items: center;

    }

    .nav_some {
        display: flex;
        margin-right: 5vw;
        margin-top: 1vh;

    }

    .nav_some img {
        width: 3vw;
    }

    .splash_video {
        display: none;
    }

    .splash_video_desktop {
        display: block;
    }

    .forside {
        margin-top: 40vh;
        width: 100vw;
    }

    .info_splash img {
        width: 100vw;
    }

    .projekt {
        width: 50%;
        display: inline-block;
    }

    .galleri_mobil {
        display: none;
    }

    .galleri_desktop {
        display: block;
    }

    #luk button {
        display: none;
    }

    #indhold .projekt .singleview_facts {
        margin-top: 0;
    }

    .info_splash_mobil {
        display: none;
    }

    .info_splash_desktop {
        display: block;
        width: 100vw;
    }

    hr {
        display: none;
    }

    #about {
        display: flex;
    }

    .info_contact {
        flex-grow: 1;
        flex-basis: 100px;
    }

    .info_text_video {
        flex-grow: 2;
        flex-basis: 200px;
        margin-bottom: 5vh;
    }

    .info_text {
        margin-left: 5vw;
    }

    .info_text_video video {
        margin-left: 5vw;
        margin-top: 5vw;
        width: 50vw;
    }

    .singleview_splash_mobil {
        display: none;
    }

    .singleview_splash_desktop {
        display: block;
    }

    #indhold .projekt h1 {
        margin-top: 5vh;
    }

    #indhold .projekt .singleview_facts_text {
        display: flex;
        flex-direction: row-reverse;
    }

    /*
	#indhold .projekt .singleview_facts_text .singleview_facts {
		flex-grow: 1;
		flex-basis: 100px;
	}

	#indhold .projekt .singleview_facts_text .singleview_text {
		flex-grow: 2;
		flex-basis: 200px;
		margin-bottom: 5vh;
	}
*/

    .some img {
        width: 5vw;
    }
}

/*-----------MEDIA QUERIES DESKTOP------------*/

@media screen and (min-width: 1000px) {

    header {
        display: flex;
        justify-content: space-between;

    }

    .forside p {
        margin-top: 17vh;
    }

    .nav_some img {
        width: 2vw;
    }

    .forside h1 {
        font-size: 4em;
    }

    .projekt {
        margin-top: -2.5vh;

    }

    #indhold .projekt h1 {
        padding-left: 12vh;
        margin-top: 8vh;
        margin-bottom: 2vh;
    }

    #indhold .singleview_facts p {
        text-align: right;
        margin-right: 0%;

    }

    #indhold .singleview_text p {
        margin-left: 2.5vw;
    }


    .info_contact p {
        text-align: right;
        margin-right: 4vw;
    }



    #about {
        margin-right: 1vw;

    }

    .info_text {
        margin-right: 10vh;
        margin-left: 0%;
    }

    .info_text_video p {
        margin-left: 0%;

    }

    .info_text_video video {
        margin-left: 0%;

    }

    .info_headline h1 {
        padding-left: 12vh;
        margin-top: 8vh;
        font-size: 2em;
    }

    .footer_mobil {
        display: none;
    }

    .footer_desktop {
        display: flex;
    }

    footer {

        padding-bottom: 8vh;
    }

    footer h2 {
        margin-top: 1vw;
    }
}
