* {
    margin: 0;
    padding: 0;
    font-family: khmer MN;
    font-weight: 100;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}


/*------------FORSIDE-------------*/



#forside h1 {
    font-size: 3em;
    text-align: center;
}

#forside p {
    text-align: center;
    margin-top: 30vh;
}

/*
#forside video {
    position: relative;
}
*/


/*------------BURGER MENU-------------*/


#facebook {
    width: 35px;
    margin-top: 5px;
}

#instagram {
    width: 35px;
    margin-top: 5px;
}

#flag {
    width: 35px;
    margin-top: 5px;
}


#navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

header {
    position: absolute;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
}

.burger_class {
    /*        cursor: pointer;*/
    margin: 10px;
    margin-right: 10px;
    padding: 0px 5px;
    z-index: 15;
}


.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    width: 30px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
    width: 30px;
}

.nav_class {
    padding-top: 50px;
    margin-left: -100vw;
    height: 100vh;
    display: block;
    transition: 0.8s all 0s;
    background-color: #333;
    width: 100vw;
    text-align: center;
}

.openNav {
    display: block;
    margin-left: 0px;
    transition: 0.8s all 0s;
    padding-left: 11px;
}

nav button {
    background-color: #333;
    border: 0;
    color: white;
    font-family: khmer MN;
    text-decoration: none;
    width: 100%;
    height: 60px;
    font-size: 25px;
    text-align: center;
}

nav a {
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.nav_class_desktop {
    display: none;
}



/*------- PROJEKTER -------*/

#projekter {
    font-size: 0;
}

.projekt {
    background-color: pink;
    width: 100%;
    font-size: 12px;
    position: relative;
}

.projekt img {
    width: 100%;
}

.projekt h2 {
    color: white;
    position: absolute;
    top: 50%;
    font-family: khmer MN;
}



/*------------INFO-------------*/

.info_splash_desktop {
    display: none;
}

.info_headline {
    margin-left: 10vw;
    margin-top: 2vh;
}


#about {
    margin-left: 10vw;
    margin-right: 10vw;
}

#about h1 {
    font-size: 2em;
}

#about hr {
    color: #e5e5e5;
    height: 0.3vh;
    background-color: #e5e5e5;
    border: none;
}




/*------------FOOTER-------------*/

footer {
    margin-top: 0;
    background-color: #e5e5e5;
}

.footer_name {
    margin-left: 10vw;
    padding-top: 7vh;
}

.footer_name h1 {
    font-size: 2em;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.email {}

.phone {
    text-align: right;
}

.address_some {
    display: flex;
    /*    justify-content: space-between;*/
    margin: 6vh 10vw 0 10vw;
    align-items: flex-end;
    padding-bottom: 7vh;
}

.address {
    flex-grow: 2;
}


.some {
    text-align: right;
    flex-grow: 1;
}

.some img {
    width: 10vw;
}





/*-----------MEDIA QUERIES iPAD------------*/

@media screen and (min-width: 728px) {

    #navigation {
        justify-content: space-between;
    }


    .burger_class {
        display: none;
    }

    .nav_class {
        display: none;
    }

    .openNav {
        display: none;
    }

    .nav_class_desktop {
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }

    .nav_class_desktop a {
        color: white;
        margin-left: 5vw;
    }

    .nav_pages {
        margin-top: 2vh;
    }

    .info_splash img {
        width: 100vw;
    }

    .projekt {
        background-color: blue;
        width: 50%;
        display: inline-block;
    }

    .info_splash_mobil {
        display: none;
    }

    .info_splash_desktop {
        display: block;
        width: 100vw;
    }

    hr {
        display: none;
    }

    #about {
        display: flex;
    }

    .info_contact {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .info_text {
        flex-grow: 2;
        flex-basis: 600px;
        padding-left: 4vw
    }

    .some img {
        width: 5vw;
    }
}

/*-----------MEDIA QUERIES DESKTOP------------*/

@media screen and (min-width: 1000px) {

    header {
        display: flex;
        justify-content: space-between;

    }

    .nav_pages {
        margin-top: 3vh;
        font-size: 1.4em;
    }

    .projekt {
        width: 50%;
        display: inline-block;

    }
